:root {
  --text: black;
  --background: white;
  --border: white;
  --border-size: 0px;
  --border-pattern: solid;
  --border-radius: 10px;
  --box-shadow-offset: 0 0;
  --box-shadow-spread: 10px;
  --box-shadow: white;
  --sso-pink: #e53bb9;
  --modal-background: rgba(255, 255, 255, 0.7);
  --highlighted-modal-background: rgba(255, 210, 242, 0.7);
  --highlighted-row: rgba(229, 59, 185, 0.55);
  --more: var(--highlighted-modal-background);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

body {
  margin: 0;
  padding: 20px;
}

.more summary {
  padding: 7px 5px;
  cursor: pointer;
}

.more .more-content {
  padding: 2px 5px 7px;
}

.more {
  margin: 0;
  background-color: var(--more);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: var(--box-shadow-offset) var(--box-shadow-spread) var(--more);
}

.background-image {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url('src/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.timer-panel-container {
  min-height: 600px;
  padding-top: 50px;
}

.timer-container, .day-container {
  background-color: var(--modal-background);
  border: var(--border-size) var(--border-pattern) var(--border);
  box-shadow: var(--box-shadow-offset) var(--box-shadow-spread) var(--box-shadow);
  border-radius: var(--border-radius);
}

.timer-container {
  padding: 5px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.timer-panel {
  text-align: center;
  max-width: 40em;
  margin: 5px auto;
  padding: 0;
}

.location-container {
  margin-bottom: 0;
}

.championship {
  font-weight: bold;
  margin-top: 0;
}

.paranoia-disclaimer {
  font-style: italic;
}

.paranoia-disclaimer input#paranoia {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 2px var(--border-pattern) var(--text);
  padding: 1px 4px;
  text-align: center;
  width: 2em;
}

.days {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.day-container {
  flex: 1 1 auto;
  padding: 5px;
}

.today {
  background-color: var(--highlighted-modal-background);
}

.day-title {
  text-align: center;
}

.times {
  padding-left: 0;
}

.time-container {
  list-style-type: none;
  padding: 3px 5px;
  border-radius: var(--border-radius);
}

.next-time {
  background-color: var(--highlighted-row);
}

@media screen and (max-width: 600px) {
  .no-mobile {
    display: none;
  }
}
